.button {
  padding: 1rem 1.5rem;
  background-color: #0077cc;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  width: fit-content;
  margin: 0 auto;

  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;

  transition: background-color 0.2s ease-in-out;
}

.button:hover,
.button:focus {
  background-color: #005fa3;
}

.button.bgRed {
  background-color: #ff3333;
}

.button.bgRed:hover,
.button.bgRed:focus {
  background-color: #cc0000;
}
