.container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.boxsWrapper {
  display: flex;
  gap: 2rem;
}

.middle {
  display: grid;
  place-content: center;
  position: relative;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

.content h3 {
  font-size: 3.4rem;
}

.bottom {
  display: flex;
  justify-content: center;
  gap: 2rem;

  font-weight: 500;
  font-size: 1.4rem;

  margin-top: auto;
}
