.container {
  display: flex;
  gap: 4rem;
}

.leftWrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  flex: 1;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
