.table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 2rem;
}

.table th,
.table td {
  border: 0.1rem solid #ddd;
  padding: 0.8rem;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
}
